SHEETY_ENDPOINT=https://api.sheety.co/YOUR_PROJECT_ID/YOUR_PROJECT/prices
SHEETY_USERNAME=
SHEETY_PASSWORD=

AMADEUS_API_KEY=your_amadeus_api_key
AMADEUS_API_SECRET=your_amadeus_api_secret

EMAIL_ADDRESS=your_email@gmail.com
EMAIL_PASSWORD=your_gmail_app_password
