# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# IDE folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/
