# ==========================================
# Nutritionix API
# ==========================================

NUTRITIONIX_APP_ID=your_nutritionix_app_id
NUTRITIONIX_APP_KEY=your_nutritionix_app_key


# ==========================================
# Sheety API
# ==========================================

SHEETY_ENDPOINT=https://api.sheety.co/YOUR_USER/YOUR_PROJECT/workouts

SHEETY_TOKEN=your_sheety_token

# This must match the root key expected by your Sheety sheet.
# Example:
# "workout" if your API expects {"workout": {...}}
SHEETY_SHEET_KEY=workout
